.box {
  position: relative;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/4b/70/c6/4b70c62557e553a6aea14715038706d6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(76, 75, 75, 0.8);
}
.title {
  text-transform: uppercase;
}

.button {
  padding: 5px 10px;
  background-color: rgb(76, 75, 75);
  border: 1px solid #fff;
  border-radius: 20px;
}
.button:hover,
.button:focus {
  background-color: rgb(45, 45, 45);
}
.button + .button {
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #fff;
}
